@model PresentationLayer.ViewModels.EditAllocationViewModel

@{
    ViewBag.Title = "Edit Allocation";
}
<style>
    ul {
        list-style-type: none;
        padding-left: 0;
    }
</style>

<link href="~/startbootstrap-sb-admin-2/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/css/ProfileCSS.css" rel="stylesheet" />
<link href="~/css/ProjectColor.css" rel="stylesheet" />
<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10">
            <div class="card  mb-4">
                <div class="card-body p-5">
                            <h2 class="text-capitalize text-center mt-5 mb-3">Edit Allocation</h2>

                            <form asp-action="Edit" method="post">
                                <input type="hidden" asp-for="AllocationId" />
                                <input type="hidden" asp-for="EmployeeId" />
                                <input type="hidden" asp-for="LevelId" />
                                <input type="hidden" asp-for="PositionId" />
                                <div class="row">

                                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3 col-12"></div>

                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label asp-for="projectId" class="control-label">Project:</label>
                                            <select asp-for="projectId" class="form-control" asp-items="Model.Projects"></select>
                                            <span asp-validation-for="projectId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <div class="form-horizontal">
                                                <label asp-for="AllocationPercentage">Allocation Percentage:</label>
                                                <select asp-for="AllocationPercentage" class="form-control" id="percentage-dropdown">
                                                    <option value="25">25%</option>
                                                    <option value="50">50%</option>
                                                    <option value="75">75%</option>
                                                    <option value="100">100%</option>
                                                </select>
                                                <span asp-validation-for="AllocationPercentage" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label asp-for="StartDate" class="control-label">Start Date:</label>
                                            <input asp-for="StartDate" class="form-control" type="date" />
                                            <span asp-validation-for="StartDate" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label asp-for="EndDate" class="control-label">End Date:</label>
                                            <input asp-for="EndDate" class="form-control" type="date" />
                                            <span asp-validation-for="EndDate" class="text-danger"></span>
                                        </div>
                                    </div>



                                    <div class="col-12">
                                        <div class="form-group text-center mt-5">
                                            <input type="submit" value="Save Changes" class="btn btn-primary" />
                                            <a asp-controller="Allocation" asp-action="Index" class="btn btn-secondary">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@if (TempData["editSuccess"] != null)
    {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        Swal.fire({
            icon: 'success',
            title: 'Success!',
            text: '@TempData["editSuccess"]',
            timer: 2000,
            timerProgressBar: true,
            showConfirmButton: false
        }).then((result) => {
                         window.location.href = '@Url.Action("Index", "Allocation")';
        });
    </script>
    }
